*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
height: 100vh;
background-image: linear-gradient(to right bottom, rgb(153, 150, 150) , rgb(83, 83, 85) , rgb(51, 50, 50) );
display: flex;
justify-content: center;
align-items: center;
}

.sounds{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.key{
    transition: all .1s;
    margin: 1rem;
    text-align: center;
    border: 4px solid black;
    border-radius: 5px;
    padding: 1rem .5rem;
    width: 100px;
    cursor:pointer;
}



.key h1{
    font-size: 40px;
    color: rgb(3, 3, 3);
}

.key div{
    font-size: .7rem;
    letter-spacing: 1px;
    color: #ffc600;
}

.played{
    transform:scale(1.3) ;
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

